<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add connectionString="Server=192.168.1.4;Database=T24_DataWareHouse;User ID=itamim;Password=Sa123456;MultipleActiveResultSets=True;" name="conStr" providerName="System.Data.SqlClient"/>    
  </connectionStrings>
  <appSettings>
    <add key="serverName" value="192.168.1.4"/>
    <add key="databaseName" value="T24_DataWareHouse"/>
    <add key="userName" value="itamim"/>
    <add key="passWord" value="Sa123456"/>
    <add key="outputPath_Email" value="\\172.16.1.44\T24 BulkPrinting\Fetch Reports\Exported\Bulk\Notification\Email\"/>
    <add key="outputPath_Dispatch" value="\\172.16.1.44\T24 BulkPrinting\Fetch Reports\Exported\Bulk\Notification\Dispatch\"/>
    <add key="reportPath" value="\\172.16.1.44\d$\Application\VPSNotification\VPSNotification\Notification\RetirementReport.rpt"/>
    <add key="htmlBody" value="\\172.16.1.44\Application\VPSNotification\VPSNotification\Notification\EBody.txt"/>
    <add key="emailServer" value="192.168.1.1"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
